body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
  height: 250px;
  background-image: url('./assets/react.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;  
}

.currency-converter {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 20px;
  text-align: center;
}

.currency-converter h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

.input-container label {
  font-size: 14px;
  color: #666666;
  display: block;
  margin-bottom: 8px;
}

.input-container input,
.input-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-container input:focus,
.input-container select:focus {
  border-color: #6200ea;
  box-shadow: 0 0 4px rgba(98, 0, 234, 0.2);
}

.input-container select {
  cursor: pointer;
}

.result {
  margin-top: 20px;
  padding: 15px;
  background: #f4f4f4;
  border-radius: 8px;
  color: #444;
  font-size: 16px;
}

.result p {
  margin: 0;
  font-weight: bold;
}

.button-container {
  margin-top: 20px;
}

button {
  background: #6200ea;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #4500b5;
}
